name: Rust CI

on:
  push:
    branches: 
      - main
      - 'feature/*'
  pull_request:
    branches: 
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test and Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Run Tests
        run: cargo test --all-features

      - name: Generate Coverage Report
        run: cargo tarpaulin --verbose --workspace --timeout 120 --out Lcov

      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: lcov.info